
<div id="main" class="container" collapse="addCollapse.Collapsed">
  <div class="row">
    <div class="panel panel-primary md-whiteframe-z1">
        <div class="panel-heading">
          <h2 class="panel-title">Add a Dice Roll</h2>
        </div>
        <div class="panel-body">
        <div class="row vert-10" ng-repeat="rolladder in AddRolls">
          <label class="col-sm-7" ng-class="{'text-primary h4': rolladder.class==true}" for="{{rolladder.id}}">{{rolladder.label}}</label>
          <div class="col-sm-5 pull-right">
            <input type="{{rolladder.type}}" min="0" placeholder="{{rolladder.placeholder}}" name="{{rolladder.label}}" 
            class="form-control" id="{{rolladder.id}}" ng-model="$parent[rolladder.model]" ng-focus="rolladder.class=true" ng-blur="rolladder.class=false"/>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <md-button class="md-raised md-primary md-hue-1" ng-click="Roll.add(numDice,sizeOfDie,amountToAdd, setTitle); addCollapse.collapseToggle()">add</md-button>
        <md-checkbox class="pull-right" ng-model="addCollapse.holdval" ng-checked="addCollapse.isHeld()" ng-change ="addCollapse.holdToggle()" aria-label="Keep AddBox Open">
          <span>Keep Open</span>
        </md-checkbox>
      </div>
    </div>
  </div>
</div>
