<div class="wrapper container-fluid grid">
  <div class="container">
    <div class="jumbotron shadow-z1">
      <h1>Roll Roller</h1>
    </div>
  </div>

  <div id="main" class="container">
    <div class="row">
      <div class="panel panel-primary shadow-z1">
        <div class="panel-body">
          <div class="row vert-10" ng-repeat="rolladder in AddRolls">
            <label class="col-sm-7" ng-class="{'text-primary': rolladder.class==true}" for="{{rolladder.id}}">{{rolladder.label}}</label>
            <div class="col-sm-5 pull-right">
              <input type="{{rolladder.type}}" min="0" placeholder="{{rolladder.placeholder}}" name="{{rolladder.label}}" 
              class="form-control" id="{{rolladder.id}}" ng-model="$parent[rolladder.model]" ng-focus="rolladder.class=true" ng-blur="rolladder.class=false"/>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" ng-click="Roll.add(numDice,sizeOfDie,amountToAdd, setTitle)">Add Roller</button>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-12 col-md-6" ng-repeat="dice in Roll.rolls">
        <div  ng-class="dice.class"  ng-Mouseover="dice.class='md-whiteframe-z5'" ng-Mouseleave="dice.class='md-whiteframe-z1'">
          <div class="panel panel-primary">
            <div class="panel-heading">
              {{dice.title}}
            </div>
            <div class="panel-body">
              {{dice.number}}d{{dice.sizeOfDice}} + {{dice.addValue}}
              <button class="btn btn-primary" ng-click="dice.rollDice()">Roll</button>
              <button class="btn btn-default pull-right" ng-click="Roll.remove($index)">Remove</button>
            </div>
            <div class="panel-footer">
              <div> Result: <span class="badge">{{dice.result}}</span>
              </div>
              <div>Rolled:
                <span ng-repeat="die in dice.results">
                  <span class="badge">{{die}} </span> 
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
